/*CSS RESET ALL FILES*/
/** {
  margin:0px;
  padding:0px;
}*/

html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }

html {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}


.card {
    float:left;
    text-align: center;
    border: 1px solid #ccc;
    width: 200px;
    margin: 20px;
}

.name {
    padding: 10px;
    font-size: 15px;
    height: 150px;
    position: relative;
}

.name p {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) }
}

.info {
    padding: 10px;
}

.location {
    font-size: 15px;
    padding: 7px 15px;
}

.year {
    font-size: 23px;
    color: #ccc;
}

.location img {
    height: 20px;
    width: 10px;
    margin-top: -10px;
}

#sort-year {
    margin: 20px 0 0 450px;
}

/* height: 100% didn't work as google maps api suggested.*/
#map {
    height: 450px;
    width: 400px;
    margin: 20px 20px 0 0;

}
/*#floating-panel {
  position: absolute;
  top: 10px;
  left: 11%;
  z-index: 5;
  background-color: #fff;
  padding: 5px;
  border: 1px solid #999;
  text-align: center;
  font-family: 'Roboto','sans-serif';
  line-height: 30px;
  padding-left: 10px;
}
*/

#floating-panel {
  display: none;
}

.caret {
    margin-top: 115px;

    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 15px dashed;
    border-top: 15px solid \9;
    border-right: 15px solid transparent;
    border-left: 15px solid transparent;
}

.dropdown-menu {
    min-width: 350px;
}

.navbar-default {
    background-color: #f6f8f9; /*navbar color*/
    border-color: #e7e7e7;
}

#logo {
    height: 100%;
    margin: 0 2px 3px 0;

}

.navbar-brand > img {
     display: inline-block;
}

.input-group {
   width: 400px;

}

.fixed {
        position: fixed;
        right: 0;
        width: 500px;

}

.scrollit {
        /*float: left;*/

}


