body {
    position: relative;
}

img{
    font-size: 12px;
    font-style: bold;
}

/* Fixed Left Column */
ul.nav-pills {
    top: 0px;
    position: fixed;
    z-index: 5;
}

/* Scrolling Right Column */
#x {
    height: 250px;
    margin-top: 45px;
}

#section1 {
    margin-left: 180px;
}

/* Map Styles */
#map {
    height: 575px;
    width: 190px;
    margin: 20px 20px 0 0;
    overflow: hidden;
    position: relative;
}

/* Search Box Styles */
.input-group {
    width: 190px;
    margin-top: 52px;
}

/* Movie Card Styles */
.card {
    float: left;
    text-align: center;
    border: 1px solid #ccc;
    width: 106px;
    height: 143px;
    margin: 20px;
}

.card img {
    width: 91px;
    height: 133px;
    padding-top: 9px;
}

.movie-name {
    display: none;
}

.name {
    padding: 10px;
    font-size: 15px;
    height: 150px;
    position: relative;
    z-index: 5;
}

.name p {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.info {
    padding: 10px;
}

.location {
    font-size: 15px;
    padding: 7px 15px;
}

/* Navbar Styles */
/* Navbar Color */
.navbar-default {
    background-color: #f6f8f9;
    border-color: #e7e7e7;
}

#logo {
    height: 100%;
    margin: 0 2px 3px 0;
}

.navbar-brand > img {
    display: inline-block;
}

/* Mobile First Design */
@media screen and (min-width: 768px) {

    #map {
        width: 425px;
    }

    .input-group {
        width: 425px;
    }

    img {
        font-size: 18px;
    }

    .card {
        width: 150px;
        height: 232px;
        margin: 20px;
    }

    .card img {
        width: 132px;
        height: 220px;
        padding-top: 10px;
    };
}

@media screen and (min-width: 1000px) {

    #map {
        width: 475px;
    }

    .input-group {
        width: 475px;
    };
}

@media screen and (min-width: 1200px) {

    #map {
        width: 520px;
    }

    .input-group {
        width: 520px;
    };
}

