html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }

html {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.card {
    text-align: center;
    border: 1px solid #ccc;
    box-shadow: 0 10px 19px -2px #949494;
    width: 350px;
    margin: 20px;
}

.name {
    padding: 10px;
    font-size: 30px;
}

.info {
    border-top: 1px solid #ccc;
    padding: 10px;
}

.location {
    font-size: 15px;
}

.year {
    font-size: 23px;
    color: #ccc;
}

.location img {
    height: 20px;
    width: 10px;
    margin-top: -10px;
}

#sort-year {
    margin: 20px 0 0 150px;
}

/* height: 100% didn't work as google maps api suggested.*/
#map {
    height: 400px;
    width: 400px;
    margin: 1em;
}
#floating-panel {
  position: absolute;
  top: 10px;
  left: 11%;
  z-index: 5;
  background-color: #fff;
  padding: 5px;
  border: 1px solid #999;
  text-align: center;
  font-family: 'Roboto','sans-serif';
  line-height: 30px;
  padding-left: 10px;
}